<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %> 
        <link rel="stylesheet" href="/css/quienesSomos.css">
    
    <title>¿Quienes somos?</title>
</head>
<body>
    <header>
        <section class="top-header">
            <div>
                 <img src="/images/weglamp.png" width="200">
             </div>
             <div> <a href="/main/index"><i class="fas fa-bars"></i></a>
                
             </div>
             <div class="main-header-top-bar">
                     <h2 class="log-in">
                           <a href="/user/login">Iniciar Sesion</a> </h2>
                     <h2 class="ayuda">
                             <a href="/main/index">Volver</a></h2>
            </div>
        </section>
    </header>
    <div>
     <img src="https://img1.viajar.elperiodico.com/31/6c/ff/ecocamp_patagonia.jpg" height="50%" width="50%">
     <div class="texto">         
     <p>Somos un buscador de alojamientos diferentes pensado para los viajeros que están cansados de filtrar por todos los buscadores para poder encontrar un sitio diferente, como por ejemplo, una casa en un árbol, un domo o una burbuja.</p>
            </div> 
</div>
<footer> <%- include('../../partials/footer') %></footer>
</body>
</html>