<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %> 
    <link rel="stylesheet" href="/css/seisRazones.css">
  
    <title>Descubre 6 razones para hacer glamping.</title>
</head>
<body>
    <section class="top-header">
        <div>
             <img src="/images/weglamp.png" width="200">
         </div>
         <div> <a href="/main/index"><i class="fas fa-bars"></i></a>
                
         </div>
         <div class="main-header-top-bar">
                 <h2 class="log-in">
                       <a href="/user/login">Iniciar Sesion</a> </h2>
                 <h2 class="ayuda">
                         <a href="/main/index">volver</a></h2>
        </div>
    </section>
    <article>
        <p>
             El glamping no es un simple camping de lujo  o una casa rural de alto standing, sino que su concepto encierra una nueva perspectiva del turismo donde la naturaleza se convierte en la protagonista.

            Estas son las ventajas tan sugerentes que te convencerán si estás pensando en la nueva tendencia de hacer glamping o si estás deseando tener el tuyo propio.
        </p>
   <section>
       <article><h3>1. Eco-sustentable</h3>
                 <p>El espíritu del glamping es integrar este tipo de construcciones con el entorno de la naturaleza y causar el menor impacto posible y cuidando el medio ambiente, utilizando energía renovable, reciclaje...</p>
       </article>

       <article><h3>2 . Fácil ubicación</h3>
                 <p>Los podremos encontrar o lo podremos situar en los lugares más remotos donde los edificios brillen por su ausencia.

                Por ejemplo en parajes increíbles y permitidos como reservas naturales, en bosques tropicales, en el desierto, en lo alto de una montaña, en playas...
                
                ¿Si tuvieras el tuyo propio, dónde lo pondrías?</p>
       </article>

       <article><h3>3. Diversidad</h3>
                 <p> Los glampistas tiene muchas opciones para elegir que tipo de glamping desean vivir la experiencia. 

                    ​Las opciones más destacadas son:  la  yurta​, el tipi, la burbuja hinchable transparente​, la tienda de techo de coche a las que se unen vagones de trenes, iglús, hotel de hielo, casa en el árbol, cabaña de madera, graneros, furgonetas camperizadas, cuevas, faros, castillos, caravanas vintage, domos, etc...
                    
                    Siempre podremos poner la guinda del pastel con un jacuzzi/spa hinchable, un baño químico portátil u otros accesorios para glamping​ y completar la experiencia como marqueses. ¿Qué te parece?
                </p>
        </article>

        <article><h3>4. Utilidad</h3>
                <p>
                    El glamping al ser bastante espacioso es perfecto para disfrutarlo con niños, en familia, con amigos, sol@, sin embargo, estas tiendas de campaña de lujo también son usadas para diferentes tipos de eventos como bodas, lunas de miel, aniversarios, cumpleaños, reuniones de empresa, fiestas ocasionales, talleres ... ¡un sin fin de opciones!
                    </p>
        </article>

       <article>   <h3>5. Máximo confort</h3>
           <p>
                Es la principal característica que hace diferencia a las acampadas tradicionales. 

                ​Si decides hacer glamping, te podrás encontrar todo tipo de accesorios y servicios de los que destacaríamos camas grandes y super cómodas, una decoración única, agua caliente, climatización, cocina, baño y la lista sigue. 
                
                ​Si ya dispones de tu propio glamping, ¡podrás adaptarla con todas las comodidades y  accesorios que más te gusten !
                </p>
    </article>
       <article><h3>6. Contacto con la naturaleza</h3> 
                    <p>
                    De lo que estamos seguros es que este tipo de alojamiento glamping lo que busca es el acercamiento con la naturaleza como vía de reseteo de cuerpo y mente del ajetreado ritmo del día al día, disponiendo posiblemente de multitud de actividades al aire libre como senderismo, paseos a caballo o en bicicleta, rutas en kayak, yoga ¡y mucho más!
                </p>
    </article>
   </section>
</article>
<footer> <%- include('../../partials/footer') %></footer>
</body>
</html>