<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %> 
        <link rel="stylesheet" href="/css/tipos.css">
      
    <title>Tipo de Alojamientos</title>
</head>
<body>
    <header>
        <section class="top-header">
            <div>
                 <img src="/images/weglamp.png" width="200">
             </div>
             <div> <a href="/main/index"><i class="fas fa-bars"></i></a>
                
            </div>
             <div class="main-header-top-bar">
                     <h2 class="log-in">
                           <a href="/user/login">Iniciar Sesion</a> </h2>
                     <h2 class="ayuda">
                             <a href="/main/index">Volver</a></h2>
            </div>
        </section>
    </header>
    
         <ol>       
            <p><b>Ahora que ya hemos mencionado un poco sobre qué es el glamping, hablemos de los diferentes tipos de glamping</b></p>
            
            <li><b>Tiendas safari</b>
                        Observando la historia, este tipo de tienda de campaña ha sido la preferida durante muchos siglos por reyes, nómadas y exploradores.
                        
                        En la actualidad este tipo de tiendas se le denominan estilo safari, ya que son el principal alojamiento de las excursiones safari de alto nivel en África.
                        
                        Son parecidas a las típicas tiendas de acampar de lona, pero muy espaciosas y con un toque mucho más glam.
                        
                        En el camping de lujo estas tiendas suelen ser considerablemente amplias y decoradas con el más exquisito estilo que puedes imaginar.
                <div class="texto">
                    <img src="https://glampismo.com/wp-content/uploads/2019/09/BeFunky-Collagesafari-300x300.jpg" width="150px">
                </div> </li> 

                <li><b>Tipi</b> 
                        Los tipis son esas tiendas triangulares que antiguamente eran las viviendas nómadas de los indios nativos americanos.
                        
                        En la actualidad la tipi tent, siguen siendo una de las opciones muy usadas en las acampadas de lujo. Se sigue usando tanto en el mundo del glamping  por su gran amplitud para el descanso como casitas de tela para niños. ¡ A los niños les encanta!
                        <div class="texto">
                            <img src="https://glampismo.com/wp-content/uploads/2019/09/BeFunky-Collagetp-300x300.jpg" width="150px">
                        </div> </li> 
                 <li><b>Yurta</b>
                        La yurta es la casa mongola con apariencia redonda de los nómadas de las estepas de Asia Central.
                        
                        Hoy en día en la lista de las tiendas de campaña de lujo y casas desmontables esta tienda mongola ocupa uno de los primeros puestos.
                        
                        Es perfecta para disfrutarla con la familia y amigos. 
                        <div class="texto">
                            <img src="https://glampismo.com/wp-content/uploads/2020/05/yurta-casa-mongola1-300x300.jpg" width="150px">
                        </div> </li> 
                <li><b>Burbuja hinchable</b>
                    Uno de los referentes del glamping para dormir bajo las estrellas es la habitación burbuja,  una de las tiendas de campaña con forma de iglú. 
                        
                    ​Al ser transparentes te permite observar todo lo que sucede a tu alrededor mientras tú te encuentras en la comodidad de tu burbuja.
                
                    <div class="texto">
                        <img src="https://glampismo.com/wp-content/uploads/2020/05/burbuja-hinchable-tienda-glamping-300x300.jpg" width="150px">
                    </div> </li> 
            <li><b>Iglú</b>
                        Como se trata de glamping, por supuesto que también los hay de hielo para los más aventureros y vivir una experiencia realmente esquimal durmiendo en un hotel totalmente de hielo.
                                
                        Pero para aquellos que no desean tanta aventura podrán escoger entre diferentes alojamientos acondicionados ya sea un iglú o infraestructuras con una cúpula de cristal para que no te pierdas nada de lo que ocurre afuera.
                                
                        No te debes preocupar por pasar frío, esta perfectamente ambientado para que tengas una experiencia única mirando las estrellas, las auroras boreales en el invierno o el sol de media noche en el verano ¡es todo un espectáculo!
                                
                            Es cierto que mucho hielo en España para hacer iglúes no hay, pero siempre podremos ir a disfrutar de esta experiencia en tierras nuestros vecinos los países nórdicos, Canadá, Alaska, Suiza y en el pequeño país de Andorra. ¿Y vos, que tipo de iglú elegirías?
                        <div class="texto">
                            <img src="https://glampismo.com/wp-content/uploads/2019/09/BeFunky-Collageigl.jpg" width="150px">
                        </div> </li> 
                    <li><b>Domo  </b>
                        Las casas domo o domos geodésicos situadas preferiblemente en la naturaleza son perfectas estructuras esféricas usualmente preparadas para que puedas ver a través de ella y poder contemplar los maravillosos paisajes y sus lumínicas estrellas.
                        
                        Estos alojamientos glamping eco-friendly se caracterizan por su eficiencia y sostenibilidad por lo que su impacto medioambiental es mínimo.
            
                        Es ideal para aquellos amantes de la naturaleza y de los que no se quieran perder nada de lo que suceda ahí afuera. ¡Fácil de sorprender a tu pareja, amigos o familia con un alojamiento original como éste!
                   <div class="texto">
                    <img src="https://glampismo.com/wp-content/uploads/2020/05/domo-glamping-300x300.jpg" width="150px">
                     </div> </li> 
    </ol> 
</body>
<footer class="footer"> <%- include('../../partials/footer') %></footer>
</html>