<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/FAQ.css">
    <title>FAQ</title>
</head>
<body>
    <section class="top-header">
        <div>
             <a href="/"><img src="/images/weglamp.png" width="200"></a>
         </div>

         <div class="main-header-top-bar">
                 <h2 class="log-in">
                       <a href="/login">Iniciar Sesion</a> </h2>
                 <h2 class="ayuda">
                         <a href="/">volver</a></h2>
        </div>
    </section>
    <article>
        <p>
        FAQ
        </p>
   <section>
       <article><h3>1. ¿Como puedo obtener un reembolso?</h3>
                 <p>
                    Si una reserva ha sido cancelada a través de tu panel de control de weGlamp, los reembolsos se tramitarán de inmediato. El importe procesado se enviará a la misma tarjeta de crédito utilizada para hacer la reserva. Los reembolsos se procesarán de acuerdo con la política de cancelación del anfitrión. Dependiendo del banco, el proceso puede tardar entre 3 y 5 días laborables. </p>
       </article>

       <article><h3>2 .¿Como hago para cambiar mi contraseña?</h3>
                 <p>
                    Puedes cambiar tu contraseña en Configuración de la cuenta después de haber iniciado sesión.</p>
       </article>

       <article><h3>3. ¿Puedo viajar con mi mascota?</h3>
                 <p>
                    Algunos de los alojamientos glamping aceptan mascotas. Esta información se puede encontrar bajo las Normas del alojamiento de cada anuncio. Si no lo tienes claro o prefieres confirmarlo, utiliza la opción para ponerte en contacto con el anfitrión o ponte en contacto con nuestro equipo de atención al cliente..</p>
        </article>

        <article><h3>4.¿Como confirmo mi reserva?</h3>
                <p>Solicitamos que nuestros anfitriones respondan a todas las solicitudes de reserva en un plazo de 24 a 48 horas. Sin embargo, algunos se encuentran en zonas aisladas con acceso limitado a internet, por lo que pueden demorarse un poco más en responder. Si tu solicitud es urgente, puedes ponerte en contacto con nosotros a través del correo .</p>
        </article>

       <article>   <h3>5.¿Cuando se procesará el cargo en mi tarjeta de credito>?</h3>
           <p>Sabrás que se ha realizado el cargo en tu tarjeta de crédito cuando recibas una notificación indicando que el anfitrión ha aceptado tu solicitud de reserva. No se realizará ningún cargo en tu tarjeta de crédito si tu solicitud de reserva es rechazada, caduca o si decides retirarla.

           </p>
    </article>
       <article><h3>6. ¿como puedo obtener un reembolso?</h3> 
                    <p>
                        Si una reserva ha sido cancelada a través de tu panel de control de weGlamp, los reembolsos se tramitarán de inmediato. El importe procesado se enviará a la misma tarjeta de crédito utilizada para hacer la reserva. Los reembolsos se procesarán de acuerdo con la política de cancelación del anfitrión. Dependiendo del banco, el proceso puede tardar entre 3 y 5 días laborables. </p>
    </article>
   </section>
</article>
<footer>
    <div class="container">
        <div class="left-footer"><img src="/images/weglamp.png" width="300">
            <p></p>
            <p>En WEGLAMP vas a vivir la experiencia de acampar al aire libre<br> con las condiciones propias de un hotel 5 estrellas.
            </p>
                <section class="redes">
                     <i class="fab fa-facebook-f"></i>
                     <i class="fab fa-twitter"></i>
                     <i class="fab fa-instagram"></i>
                     <i class="fab fa-youtube"></i>
                     <i class="fab fa-whatsapp"></i>
                 </section>
        </div>
                <section class="right-footer">
                   <ul type="none">
                      <H4>Descubriendo mas..</H4>
                           <li><a href="/queEs">¿Que es Glamping?</a></li>
                          <li><a href="/tipos">Tipos de Glamping</a></li>
                          <li><a href="/seisRazones">6 razones para hacer glamping</a></li>
                          <li><a href="/masInfo">Mas Info..</a></li>
                   </ul>
        
                    <ul type="none">
                        <H4>Empresa</H4>
                        <li><a href="/quienesSomos">Quienes somos</a></li>
                        <li><a href="/terminos">términos y condiciones</a></li>
                        <li><a href="/privacidad">políticas de privacidad</a></li> 
                        <li><a href="/FAQ">FAQ's</a></li>
                        </ul>
                 </section>
     </div>
        <section class="bottom-footer">
            <p>weglamp®️ - 2021 - Todos los derechos reservados</p>
            <p><a href="/privacidad">Políticas de privacidad</a>
            </p>
            <p><a href="/terminos">Terminos y condiciones</a></p>
    
        </section>
    </footer>
</body>
</html>