<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weglamp</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <script src="https://kit.fontawesome.com/ede0f8a666.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"></head>
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <section class="top-header">
            <div>
                <a href="/"><img src="/images/weglamp.png" width="200"></a>
             </div>
    
             <div class="main-header-top-bar">
                     <h2 class="log-in">
                           <a href="/login">Iniciar Sesion</a> </h2>
                     <h2 class="ayuda">
                             <a href="/">Volver</a></h2>
            </div>
        </section>
        <div class="main-header-bottom-bar"> 
            <h3>
                <a href="#">Alojamientos </a></h3>
              
            <h3>
                 <a href="#">Paquetes </a></h3>
                
            <h3>
                <a href="#">Seguros </a></h3>
        </div>
    
        
        
    
    </header>
    <main>
        <nav class="main-nav-bar"> 
            <h3>Buscá tu paquete</h3>
            <nav class="barradebusqueda">
                <form action="/productDetail" method="POST">
                       <select name="destino" id="destino">
                        <option value="destino">Destino</option>
                            <option value="patagonia">Patagonia</option>
                            <option value="lobos">Lobos</option>
                            <option value="tigre">Tigre</option>
                        </select>
    
                             <input type="date" name="checkinDate">
                             <input type="date" name="checkoutDate">
    
                    <select name="Pax_a" id="pax_a">
                        <option value="adultos">Adultos</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                     </select>
                     <select name="Pax_m" id="pax_m"></label>
                        <option value="menores">Menores</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                     </select>
               
                <i class="fas fa-search"><button type="submit"> <a href="/productDetail">Buscar</a></button></i> 
                
            </form>
            </nav>
           
            <nav class="sindecidir">
                <div class="switch_container">
                    <label class="form-switch">
                        <input type="checkbox"> <i></i>No he decidido las fechas</label>
                    </div>
            </nav>
              
            </nav>
    
        </nav> 
        <section class="information">
            <article class="yourSelection">
                <div class="tittle">
                <div><h3>
                    <form action="/productDetail" method="POST">
                        <label for="destination">Destino</label>
        
                           <select name="destination" id="destination">
                                <option value="patagonia">Patagonia</option>
                                <option value="lobos">Lobos</option>
                                <option value="tigre">Tigre</option>
                            </select>
                            </form>
                </h3></div>
               
                <div><h3>
                    <form action="/productDetail" method="POST">
                        <label for="checkinDate" name="checkinDate">Check-in</label>
                        <input type="date" name="checkinDate">    
                    </form>
                </h3></div>
                <div><h3>
                    <form action="/productDetail" method="POST">
                        <label for="checkinDate" name="checkinDate">Check-in</label>
                        <input type="date" name="checkinDate">    
                    </form>
                </h3></div>
                <div><h3><form action="/productDetail" method="POST">
                    <label for="pax" name="pax">Pasajeros</label>
                    <select name="Pax" id="pax">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                     </select>

                </form></h3></div>
            </div>
                <article class="selectTent">
                    <IMG src="https://www.ecocamp.travel/hubfs/Standard%20Dome%20EcoCamp%20Patagonia%201920x1281_960.webp" width="150px">
                        <p>domo para x pax STANDART</p>
                        <p>usd x por noche</p>
                        <form action="/productDetail" method="POST">
                            <label for="amount" name="amount">Cantidad</label>
                            <select name="amount" id="amount">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                             </select>
        
                            </form>
                    <IMG src="https://www.ecocamp.travel/hubfs/Superior%20Dome%20Interior_960.webp" width="150px">
                        <p>domo para x pax SUPERIOR</p>
                        <p>usd x por noche</p>
                        <form action="/productDetail" method="POST">
                            <label for="amount" name="amount">Cantidad</label>
                            <select name="amount" id="amount">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                             </select>
        
                            </form>
                    <IMG src="https://www.ecocamp.travel/hubfs/Suite%20Dome%20EcoCamp%20Patagonia%201920x1281%20(1)_960.webp"width="150px">
                        <p>domo para x pax SUITE DOME</p>
                        <p>usd x por noche</p>
                        <form action="/productDetail" method="POST">
                            <label for="amount" name="amount">Cantidad</label>
                            <select name="amount" id="amount">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                             </select>
        
                            </form>
                 </article>
            </article>
            
            <article class="yourStay">
                <h3>Destino</h3>
                <h3>check in date + Horario 15hs</h3>
                <h3>check out date + Horario 12hs</h3>
                <h3>Total de pax</h3>
                <h3>Total $$</h3>
                <a class="a" href="#">Reservar</a>
                <div class="textodescriptivo">
                    <p>Formas de pago</p>
                    <p><i class="fab fa-cc-visa"></i>Visa</p>
                    <p><i class="fab fa-cc-amex"></i>American Express</p>
                    <p><i class="fab fa-cc-mastercard"></i>Masterard</p>
                   
    
                </div>
            </article>
        </section>

        
    </main>
    <footer>
        <div class="container">
            <div class="left-footer"><img src="/images/weglamp.png" width="300">
                <p></p>
                <p>En WEGLAMP vas a vivir la experiencia de acampar al aire libre<br> con las condiciones propias de un hotel 5 estrellas.
                </p>
                    <section class="redes">
                         <i class="fab fa-facebook-f"></i>
                         <i class="fab fa-twitter"></i>
                         <i class="fab fa-instagram"></i>
                         <i class="fab fa-youtube"></i>
                         <i class="fab fa-whatsapp"></i>
                     </section>
            </div>
                    <section class="right-footer">
                       <ul type="none">
                          <H4>Descubriendo mas..</H4>
                               <li><a href="/queEs">¿Que es Glamping?</a></li>
                              <li><a href="/tipos">Tipos de Glamping</a></li>
                              <li><a href="/seisRazones">6 razones para hacer glamping</a></li>
                              <li><a href="/masInfo">Mas Info..</a></li>
                       </ul>
            
                        <ul type="none">
                            <H4>Empresa</H4>
                            <li><a href="/quienesSomos">Quienes somos</a></li>
                            <li><a href="/terminos">términos y condiciones</a></li>
                            <li><a href="/privacidad">políticas de privacidad</a></li> 
                            <li><a href="/FAQ">FAQ's</a></li>
                            </ul>
                     </section>
         </div>
            <section class="bottom-footer">
                <p>weglamp®️ - 2021 - Todos los derechos reservados</p>
                <p><a href="/privacidad">Políticas de privacidad</a>
                </p>
                <p><a href="/terminos">Terminos y condiciones</a></p>
        
            </section>
        
        
        </footer>
            
</body>
</html>