<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/quienesSomos.css">
    <title>¿Quienes somos?</title>
</head>
<body>
    <header>
        <section class="top-header">
            <div>
                <a href="/"><img src="/images/weglamp.png" width="200"></a>
             </div>
    
             <div class="main-header-top-bar">
                     <h2 class="log-in">
                           <a href="/login">Iniciar Sesion</a> </h2>
                     <h2 class="ayuda">
                             <a href="/">Volver</a></h2>
            </div>
        </section>
    </header>
    <div>
     <img src="https://img1.viajar.elperiodico.com/31/6c/ff/ecocamp_patagonia.jpg" height="50%" width="50%">
     <div class="texto">         
     <p>Somos un buscador de alojamientos diferentes pensado para los viajeros que están cansados de filtrar por todos los buscadores para poder encontrar un sitio diferente, como por ejemplo, una casa en un árbol, un domo o una burbuja.</p>
            </div> 
</div>
</body>
<footer>
    <div class="container">
        <div class="left-footer"><img src="/images/weglamp.png" width="300">
            <p></p>
            <p>En WEGLAMP vas a vivir la experiencia de acampar al aire libre<br> con las condiciones propias de un hotel 5 estrellas.
            </p>
                <section class="redes">
                     <i class="fab fa-facebook-f"></i>
                     <i class="fab fa-twitter"></i>
                     <i class="fab fa-instagram"></i>
                     <i class="fab fa-youtube"></i>
                     <i class="fab fa-whatsapp"></i>
                 </section>
        </div>
                <section class="right-footer">
                   <ul type="none">
                      <H4>Descubriendo mas..</H4>
                           <li><a href="/queEs">¿Que es Glamping?</a></li>
                          <li><a href="/tipos">Tipos de Glamping</a></li>
                          <li><a href="/seisRazones">6 razones para hacer glamping</a></li>
                          <li><a href="/masInfo">Mas Info..</a></li>
                   </ul>
        
                    <ul type="none">
                        <H4>Empresa</H4>
                        <li><a href="/quienesSomos">Quienes somos</a></li>
                        <li><a href="/terminos">términos y condiciones</a></li>
                        <li><a href="/privacidad">políticas de privacidad</a></li> 
                        <li><a href="/FAQ">FAQ's</a></li>
                        </ul>
                 </section>
     </div>
        <section class="bottom-footer">
            <p>weglamp®️ - 2021 - Todos los derechos reservados</p>
            <p><a href="/privacidad">Políticas de privacidad</a>
            </p>
            <p><a href="/terminos">Terminos y condiciones</a></p>
    
        </section>
    
    
    </footer>
</html>