<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/ede0f8a666.js" crossorigin="anonymous"></script>
    <title>Login</title>

</head>
    <body>

        <main>
        <div class="modal-container" id="modal-container">
            
            <div class="modal">

            <section class="izquierda">
                <h1>Ingresar a mi cuenta</h1>
            <section class="usuario_crear">
                <h2 class="nuevo">Ya es usuario?</h2>
                <a href="/login" class="crear">Ingresar</a>
            </section>
            <section class="form">
                <p></p>
                <div class="nombre_apellido">
                <input type="text" class="campo_nombre" placeholder="Nombre"><br>
                <p></p>
                <input type="text" class="campo_apellido" placeholder="Apellido">
                <p></p>
                </div>
                <input type="text" class="campo_correo" placeholder="Correo electrónico">
                <p></p>
                <input type="text" class="campo_contrasena" placeholder="Contraseña">
                <p></p>
                <input type="button" class="ingresar" value="Ingresar">
            </section>
            <section class="ingreso_alternativo">
                <hr> <h3>o registrarme</h3> <hr>
            </section>
            <section class="redes">
                <i class="fab fa-google" class="icon_login"></i>
                <i class="fab fa-facebook" class="icon_login"></i>
                <i class="fab fa-linkedin" class="icon_login"></i>
                <i class="fab fa-twitter-square" class="icon_login"></i>
            </section>
            </section>

            <section class="derecha_arriba">
                <div class="cruz">
                <a href="/"><i class="far fa-times-circle"></i></a>
                </div>
            </section>

            <section class="derecho_abajo">
                <img src="/images/weglamp-vert.png" alt="foto" class="imagen">
            </section>
        </div>

        </main>
    </body>

</html>