* {
    box-sizing: border-box;
    padding: 10;
    border: 0;
    font-family: 'Montserrat', sans-serif;

}
body a{
    color:#212529   
}
.top-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    margin: 16px 15px 0p;
}
img{
    display:flex;
    justify-content: flex-start;
}
div.main-header-top-bar {
    display: flex;
    justify-content: flex-end; 
   
   
}
div.main-header-top-bar h2 a{
    margin: 6px;
    background-color: red;
    padding: 6px 12px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}


div.main-header-bottom-bar h3 a{
    display: inline-flex;
    color: #212529;
    font-size: 16px;
    margin-left: 15px;
 

}
div.main-header-bottom-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #f8f9fa;
    padding:8px 16px;
}


nav h3{
    font-size: 30px;
    color: #3d3b3a;
    margin: 0px 15px;
    padding: 48px 0px;
    text-align: center;
    background-color:#eaeaea;
    font-weight:bold;
}

.main-nav-bar{ 
    color: #333333;
    font-size: 16px;
    background-color: #d6d5d5;
    margin: 0px 0px 16px;
    padding: 10px;
    
   
}

nav.barradebusqueda form{
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    justify-content: space-around;
}

i button{
    font-family: 'Montserrat', sans-serif;
    border-radius:15px;
    padding-right: 15px;
    padding-left: 15px;
}

i.fas.fa-search{ 
    font-size: 1.5em;
    color: red;
    margin-left: 20px;
}
nav.sindecidir{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:15px 0px 0px;
    padding: 0px 0px 0px 20px;
    width: 100%;
}

div.team.active{
   text-align: center;
}

section.beneficio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 15px;
    padding: 16px;
    background-color: #eaeaea;

}

.beneficioUno{
    border: 1px solid #000000;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eaeaea;
    margin: 0px 0px 16px; 
    
}


.beneficioDos{
    border: 1px solid #000000;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eaeaea;
    margin: 0px 0px 16px; 
}
.beneficioTres{
    border: 1px solid #000000;
    padding: 10px 20px;
    color: #212529;
    font-size: 16px;
    background-color: #eaeaea;
    margin: 0px 0px 16px;  
}


h2.recomendados{
color: #3d3b3a;
font-size: 30px;
text-align: center;
font-weight: bold;
}

.recomendados{
    margin:28px 0px;
    padding: 28px 0px;
    text-align: center;
    font-weight: bold;
}

section.destinos{
    display: flex;
    flex-wrap: wrap;
   flex-direction: row;
   color: 333333;
   justify-content: space-around;

}

.destino1{
    background-color: #e0e0e0;
    padding: 15px 15px;
    position: relative;
    width: 100%;
    text-align: center;

}
.destino2{
    background-color: #ababab;
    padding: 15px 15px;
    position: relative;
    width: 100%;
    text-align: center;
    
}
.destino3{
    background-color: #e0e0e0;
    padding: 15px 15px;
    position: relative;
    width: 100%;
    text-align: center;
    
}
.destino4{
    background-color: #ababab;
    padding: 15px 15px;
    position: relative;
    width: 100%;
    text-align: center;
}
.listadodestino{
    color: rgb(51, 51, 51);
    text-align: center;
    list-style:none;
    padding: 0;
    line-height: 35px;
}

.precioDestino{
    color: rgb(61, 59, 58);
    font-size: 11px;
    text-align: start;
    font-weight: 700;
    line-height: 60px;
}

li.precio-destino{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    color: rgb(51, 51, 51);
}

.verOferta{
    margin:auto; 
    background-color: red; 
    border: red;
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 8px;
}

section.main-nav-bottom{
    display: flex;
    flex-direction: row;
}
div.main-bottom{
    display: flex;
    flex-direction: column;
    color: rgb(61, 59, 58);
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    margin: auto;
}


div.left-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}
.redes{
    flex-direction: row;
}
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: #eaeaea;
    margin: auto;
    
}
div.left-footer{
      margin: auto;
     text-align: start;
     padding-left: 3rem;
     padding-top: 3rem;
}

section.right-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    color: #808080;
    
}

.container{
    display: flex;
   justify-content: space-beetwen;
   display: inline-block;
   
   
}
section.bottom-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 0px 0px 16px;
    color: #212529;
    font-size: 10px;
    padding: 16px;
    
}


.formulario-busqueda{
    background-color: #d6d5d5;
    color: rgb(51, 51, 51);
    padding: 10px;
}



.crear {
    margin-left: 2px;
}

.lbl {
    display: inline-block;
    width: 65px;
    height: 33px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
}

.lbl::after {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
}

.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  
  .form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  
  .form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
  }
  
  .form-switch:active input:checked + i::after { 
      transform: translate3d(16px, 2px, 0); 
    }
  
  .form-switch input { 
      display: none; 
    }
  
  .form-switch input:checked + i { 
      background-color: red; 
    }
  
  .form-switch input:checked + i::before {
      transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); 
    }
  
  .form-switch input:checked + i::after { 
      transform: translate3d(22px, 2px, 0); 
    }

    .suscribirme{
        margin:auto; 
        background-color: red; 
        border: red;
        display: flex;
        justify-content: center;
        color: #ffffff;
        padding: 8px;
        margin-top: 5px;
    }


    @media (max-width:768px){

 
        i.fas.fa-bars{
              font-size: 1.5em;
              text-align: center;
              color: red;
              border: 1px red solid;
              padding:5px;
              margin-right: 10px;
         
           }
           div.main-header-top-bar{
               display: none;
           }
           div.main-header-bottom-bar{
               display: none;
           }
           .main-nav-bar{
               display: none;
           }
        section.main-nav-bottom img{
            display: none;
        }
        section.right-footer{
            display: none;
        }
        div.tittle{
            display:inherit;  
        }
        .right-footer{
            display: none;
        }

        }
        @media(min-width:769px){
            i.fas.fa-bars{
                display:none;
            }
            .footer_mobile{
                display: none;
               
            }
        }