<section class="top-header">
    <div>
         <img src="/images/weglamp.png" width="200">
     </div>
     <div> <i class="fas fa-bars"></i></div>
     <div class="main-header-top-bar">
             <h2 class="log-in">
                   <a href="/user/login">Iniciar Sesion</a> </h2>
             <h2 class="register">
                   <a href="/user/register">Registrarme</a> </h2>
             <h2 class="ayuda">
                     <a href="/main/ayuda">Ayuda</a></h2>
    </div>
</section>
<div class="main-header-bottom-bar"> 
    <h3>
        <a href="#">Alojamientos </a></h3>
                 
    <h3>
         <a href="#">Paquetes </a></h3>
        
    <h3>
        <a href="#">Seguros </a></h3>
</div>



