<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %> 
    <link rel="stylesheet" href="/css/privacidad.css">
    
    <title>Politica de Privacidad</title>
</head>
<body>
    <section class="top-header">
        <div>
             <img src="/images/weglamp.png" width="200">
         </div>
         <div> <a href="/main/index"><i class="fas fa-bars"></i></a>
                
         </div>
         <div class="main-header-top-bar">
                 <h2 class="log-in">
                       <a href="/user/login">Iniciar Sesion</a> </h2>
                 <h2 class="ayuda">
                         <a href="/main/index">volver</a></h2>
        </div>
    </section>
    <article>
        <p>
        Politica de privacidad
        </p>
   <section>
       <article><h3>1. Políticas de Privacidad del Sitio Web</h3>
                 <p>Última actualización 29/11/2017
                    
        En weGlamp tenemos presente que brindar información en línea implica mucha confianza de su parte y estamos comprometidos en garantizar la seguridad y la confidencialidad de la información personal que nos proporciona cuando visita nuestro sitio web www.weglamp.com o  en un teléfono celular, tableta o dispositivo similar (en conjunto, el “Sitio Web”) o utiliza nuestros servicios. Antes de enviarnos su información personal, lea atentamente estas Políticas de Privacidad para obtener información sobre nuestras prácticas de privacidad. Al visitar el Sitio Web o utilizar nuestros servicios usted acepta las prácticas descritas en el presente. Las presentes Políticas de Privacidad son parte de los Términos y Condiciones de Uso del Sitio Web. </p>
       </article>

       <article><h3>2 . Cambios en estas Políticas de Privacidad</h3>
                 <p>
                   weGlamp puede cambiar o modificar estas Políticas de Privacidad en un futuro. Indicaremos la fecha en que se realizaron las revisiones de estas Políticas de Privacidad por última vez en la parte superior de esta página, y todas las revisiones entrarán en vigencia al publicarse. Notificaremos a nuestros miembros sobre cambios sustanciales en las Políticas de Privacidad mediante la publicación de la versión actualizada de las Políticas de Privacidad en esta sección o mediante el envío de un e-mail o informándolo en la página principal u otras secciones del Sitio Web para mantenerlo actualizado de los cambios realizados. Lo instamos a consultar estas Políticas de Privacidad periódicamente para ver la versión más reciente.</p>
       </article>

       <article><h3>3. Qué información recopilamos</h3>
                 <p>
                    Recibimos y almacenamos toda la información que usted ingresa en nuestro Sitio Web o que nos suministra de otra manera. Esto incluye información que pueda identificarlo, como su nombre y apellido, número de teléfono, dirección postal y de correo electrónico, nombre de usuario y contraseña e información de facturación (como su número de tarjeta de crédito, el nombre del titular de la tarjeta, la fecha de vencimiento de la tarjeta, el código de autenticación y la dirección de facturación). Es posible que también solicitemos información sobre sus preferencias y planes de viaje, lo que incluye solicitudes de alimentos, selección de asientos, información sobre su programa de viajero frecuente/hotel/alquiler de automóvil, y opciones de clase aérea, equipaje y pasajes. Todo lo previsto en el presente párrafo será considerado “Información Personal”. Puede optar por no proporcionarnos información, pero podrá serle requerida para determinadas acciones, como por ejemplo, para efectuar valoraciones sobre otros usuarios, realizar comentarios o efectuar reservas o pagos.

Su Información Personal se encuentra protegida conforme lo prevé la Ley 25.326 de Protección de Datos Personales (con sus modificaciones) y normas reglamentarias (la “Ley 25.326”) y se incorporará a una base de datos registrada de titularidad de Almundo.com S.R.L., una sociedad constituida conforme las leyes de Argentina, con domicilio en Esmeralda 950, piso 21, Ciudad de Buenos Aires, Argentina conforme lo prevé la Ley 25.326. Tomamos las medidas razonables para garantizar que su información sea adecuada, pertinente y no excesiva de acuerdo con el uso al que está destinada. Asimismo, guardaremos la confidencialidad de su Información Personal conforme lo previsto en la Ley 25.326 y en las presentes Políticas de Privacidad. Usted cuenta con la posibilidad que prevé la Ley 25.326 de ejercer los derechos de acceso, rectificación y supresión de la Información Personal que mantengamos en nuestra base de datos.

Usted garantiza y responde, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de la Información Personal facilitada, y se compromete a mantenerla debidamente actualizada. Visite la página de Su perfil/ Usuario para acceder a su información de contacto y actualizarla en el Sitio Web.</p>
        </article>

        <article><h3>4. Información automática</h3>
                <p>Cuando visita el Sitio Web, recopilamos automáticamente cierta información de su computadora o dispositivo. Por ejemplo, recabaremos datos sobre la sesión, incluida su dirección IP, el software del explorador web y el sitio Web de derivación. Es posible que también recopilemos información sobre su actividad en línea, como el contenido que visualiza, las páginas que visita y las búsquedas o las reservaciones que facilita o realiza. Uno de nuestros objetivos por los cuales recopilamos esta información automática es ayudarnos a comprender los intereses y las preferencias de nuestros usuarios y personalizar su experiencia como usuario.</p>
        </article>

       <article>   <h3>5.Información de pago</h3>
           <p>Si hace reservaciones de viajes o servicios turísticos de cualquier tipo, recabaremos su información de pago, lo que incluye su número de tarjeta de crédito, el nombre del titular de la tarjeta, la fecha de vencimiento, el código de autenticación y la dirección de facturación. Utilizaremos esta información de manera segura para completar la transacción.

            Es posible que demos a los usuarios la opción de guardar información relacionada con su forma y elección de pago en nuestro Sitio Web. Si guarda esos datos de pago en el Sitio Web, podrá agregar, eliminar o modificar esa información en cualquier momento en Configuración de la Cuenta.

            
                </p>
    </article>
    <article>   <h3>6.Cookies y otras tecnologías web</h3>
        <p>Las cookies son pequeños archivos de texto de datos y pueden almacenarse en el disco duro de su computadora o en su Dispositivo (si se permiten en su explorador web). Almundo, su Sitio Web, sus sitios web asociados y las Aplicaciones usan cookies con los siguientes fines:

            Para ayudarnos a reconocer su explorador como visitante anterior y guardar y recordar las preferencias que se pudieron haber configurado mientras su explorador visitaba nuestro sitio, como su información de registro. Considere que los ID de los miembros, sus contraseñas y cualquier otra información relacionada con la cuenta incluida en esas cookies se codifican por cuestiones de seguridad.
            Para ayudarnos a personalizar las propuestas, el contenido, la experiencia y los anuncios que le brindamos en el Sitio Web, las Aplicaciones y en otros sitios web de Internet.
            Para contribuir con la medición y la investigación de la eficacia de las funciones y las ofertas, los anuncios y las comunicaciones por correo electrónico (al determinar qué correos electrónicos abre y ejecuta).
            La opción “Ayuda” en la barra de herramientas de la mayoría de los exploradores debería indicarle cómo evitar que su explorador acepte cookies nuevas, cómo hacer que éste le notifique cuando reciba una nueva cookie o cómo desactivar la mayoría de los tipos de cookies. Considere que si se niega a aceptar cookies, es posible que no pueda acceder a muchas de las herramientas de viaje que se ofrecen en nuestros sitios.
            
            Nuestros sitios también pueden usar las balizas web (también conocidas como GIF transparentes, etiquetas de píxel o errores de la web), que son pequeños gráficos que tienen un identificador único similar a las cookies en cuanto a su función y que se colocan en el código de una página web. Usamos balizas web para monitorear los patrones de tráfico de los usuarios de una página dentro de nuestros sitios a otra, a fin de entregar o comunicarnos con cookies para saber si accedió a nuestro sitio desde un anuncio en línea que aparecía en un sitio web de un tercero y para mejorar el rendimiento del sitio.

         
             </p>
 </article>
       <article><h3>7.Cómo utilizamos su información</h3> 
                    <p>la información que recabamos sobre usted con los siguientes fines generales: para el registro y para administrar su cuenta, lo que incluye permitirle acceder y usar nuestro Sitio Web y nuestras Aplicaciones, para mantener las comunicaciones con usted, lo que incluye brindar información sobre Almundo; para permitirnos publicar sus opiniones, valoraciones, imágenes, publicaciones de los foros y otro contenido; para facilitar sus reservaciones y pagos de viaje y otros servicios turísticos; para responder a sus preguntas y comentarios; para medir el interés en nuestros productos, servicios, Sitio Web, Aplicaciones y mejorarlos; para notificarle las ofertas especiales y los productos o servicios disponibles que puedan ser de su interés, que nosotros o nuestros asociados tenemos para ofrecerle; para personalizar de otro modo su experiencia con Almundo; para solicitarle información; para resolver disputas o problemas; para evitar actividades potencialmente prohibidas o ilegales; para hacer cumplir nuestros Términos y Condiciones de Uso del Sitio Web, entre otros usos.
                        
                       </p>
    </article>
    <article><h3>8.Cómo protegemos su información</h3> 
        <p>nos comprometemos a proteger la información que recabemos. Si bien ningún sitio web puede garantizarle seguridad, hemos implementado procedimientos administrativos, técnicos y de seguridad física para ayudarlo a proteger la información personal que nos brinda. Utilizamos la codificación cuando transmitimos su información personal entre su sistema y el nuestro, y entre nuestro sistema y el de aquellos con quienes compartimos información confidencial, y empleamos firewalls y sistemas de detección de intrusiones para ayudar a evitar que personas no autorizadas accedan a su información.
            
           </p>
</article>
<article><h3>9.Vínculos externos</h3> 
    <p>Si cualquier parte del Sitio Web lo vincula con otros sitios web, esos sitios web externos no funcionan conforme a estas Políticas de Privacidad. Le recomendamos examinar las declaraciones de privacidad publicadas en aquellos otros sitios web para comprender sus procedimientos de recolección, uso y divulgación de información personal.
        
       </p>
</article>
   </section>
</article>
<footer> <%- include('../../partials/footer') %></footer>
</body>
</html>