<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../../partials/head') %> 
        <link rel="stylesheet" href="/css/queEs.css">

    <title>¿Qué es glamping?</title>
</head>
<body>
    <header>
        <section class="top-header">
            <div>
                 <img src="/images/weglamp.png" width="200">
             </div>
             <div> <a href="/main/index"><i class="fas fa-bars"></i></a>
                
             </div>
             
             <div class="main-header-top-bar">
                     
                     <h2 class="log-in">
                           <a href="/user/login">Iniciar Sesion</a> </h2>
                     <h2 class="ayuda">
                             <a href="/main/index">Volver</a></h2>
            </div>
            
        </section>
    </header>
    <div>
     <img src="https://www.whitepod.com/wp-content/uploads/2021/03/0322_Cerniers_2020-1024x682.jpeg" height="50%" width="50%">
     <div class="texto">         
     <p>
                    Al hablar de turismo de naturaleza podemos pensar en descanso, animales, aire puro, vegetación, cielo estrellado, pero alguna vez pensaste en ¿comodidad?</p>

                <p> El  camping de lujo o mejor conocido como glamping es la unión de los conceptos glamour y camping, una combinación de la vida de campamento con el contacto de la naturaleza y un alojamiento de manera eco sustentable que te proporciona las comodidades de un buen hotel.</p>

               <p> La definición de glamping proviene cuando Reino Unido en el 2007 comenzó a exportar la idea de este tipo de alojamiento que inició hacia Francia y EE.UU., donde grandes bodegueros aprovecharon este movimiento para ofertar alojamiento entre sus viñedos.</p> 

                 <p>Se inspiró en los viajes que la alta sociedad hacia a África a mediados del siglo pasado, no obstante, desde tiempos inmemoriales cuando reyes, nobles y ricos mercaderes necesitaban realizar viajes largos y alojarse por el camino ya usaban esta manera de acampar.

                </p>
            </div> 
</div>
<footer> <%- include('../../partials/footer') %></footer>
</body>
</html>