<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://kit.fontawesome.com/ede0f8a666.js" crossorigin="anonymous"></script>
    
    <title>Login</title>

</head>
    <body>

        <main>
        <div class="modal-container" id="modal-container">
            
            <div class="modal">

            <section class="izquierda">
                <h1>Ingresar a mi cuenta</h1>
            <section class="usuario_crear">
                <h2 class="nuevo">Ya es usuario?</h2>
                <a href="/user/login" class="crear">Ingresar</a>
            </section>

            <form action="/user/register" method="POST">
                <input type="text" name="nombre" id="nombre" class="campo_nombre"  placeholder="Nombre" >
                <p></p>
                <input type="text" name="apellido" id="apellido" class="campo_apellido" placeholder="Apellido" >
                <p></p>
                <input type="text" name="email" id="email" class="campo_correo"  placeholder="email" >
                <p></p>
                <input type="text" name="contraseña" id="contraseña" class="campo_contrasena"  placeholder="Contraseña" >
                <p></p>
                <button type="submit"class="ingresar" value="Registrar Domo"> Registrar </button> >
                <p></p>
                 <label><input type="checkbox" class="mantenerme_logueado"> Mantenerme logueado</label>

            </form>
           
            <section class="ingreso_alternativo">
                <hr> <h3>o registrarme</h3> <hr>
            </section>
            <section class="redes">
                <i class="fab fa-google" class="icon_login"></i>
                <i class="fab fa-facebook" class="icon_login"></i>
                <i class="fab fa-linkedin" class="icon_login"></i>
                <i class="fab fa-twitter-square" class="icon_login"></i>
            </section>
            </section>

            <section class="derecha_arriba">
                <div class="cruz">
                <a href="/main/index"><i class="far fa-times-circle"></i></a>
                </div>
            </section>

            <section class="derecho_abajo">
                <img src="/images/weglamp-vert.png" alt="foto" class="imagen">
            </section>
        </div>

        </main>
    </body>

</html>